<!DOCTYPE html>
<html>
<head>
  <title>Randonum</title>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Cabin+Sketch:700", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header>
		<% if !session[:uid].blank? %>
			<a href="/signout">Sign Out</a>
		<% elsif controller_name == "user_sessions" %>
			<a href="/">Sign Up</a>
		<% else %>
			<a href="/signin">Sign In</a>
		<% end %>
	</header>
	<%= yield %>

</body>
</html>
